<?xml version="1.0" encoding="UTF-8"?>
<root>
	<name>Sungard</name>
	<class>simulator.unit.Sungard</class>
	<component>
	 	<name>datacenter</name>
	 	<class>simulator.unit.DataCenter</class>
	 	<eventGenerator>
	 		<name>failureGenerator</name>
	 		<class>simulator.failure.Constant</class>
	 		<freq>10000000</freq>
	 	</eventGenerator>
	 	<eventGenerator>
	 		<name>recoveryGenerator</name>
	 		<class>simulator.failure.WeibullGenerator</class>
	 		<gamma>10.0</gamma>
	 		<lamda>24.0</lamda>
	 		<beta>1.0</beta>
	 	</eventGenerator>
	 	<component>
	 		<name>rack</name>
	 		<class>simulator.unit.Rack</class>
	 		<fastForward>false</fastForward>
	 		<eventGenerator>
	 			<name>failureGenerator</name>
	 			<class>simulator.failure.WeibullGenerator</class>
	 			<gamma>0.0</gamma>
	 			<lamda>87600.0</lamda>
	 			<beta>1.0</beta>
	 			<freq>1000000</freq>
	 		</eventGenerator>
	 		<eventGenerator>
	 			<name>recoveryGenerator</name>
	 			<class>simulator.failure.WeibullGenerator</class>
	 			<gamma>0</gamma>
	 			<lamda>10.0</lamda>
	 			<beta>1.0</beta>
	 		</eventGenerator>
	 		<component>
	 			<name>machine</name>
	 			<class>simulator.unit.Machine</class>
	 			<fastForward>false</fastForward>
	 			<failFraction>0</failFraction>
	 			<eagerRecoveryEnabled>true</eagerRecoveryEnabled>
                <sliceRecoveryRate>300</sliceRecoveryRate>
                <sliceInstallmentSize>100</sliceInstallmentSize>
	 			<failTimeout>0.25</failTimeout>
	 			<eventGenerator>
	 				<name>failureGenerator</name>
	 				<class>simulator.failure.WeibullGenerator</class>
	 				<gamma>0.0</gamma>
	 				<lamda>2880.0</lamda>
	 				<beta>1.0</beta>
	 				 <freq>1000000</freq>
	 			</eventGenerator>
	 			<eventGenerator>
	 				<name>recoveryGenerator</name>
	 				<class>simulator.failure.WeibullGenerator</class>
	 				<gamma>0.0</gamma>
	 				<lamda>0.5</lamda>
	 				<beta>1.0</beta>
	 			</eventGenerator>
	 			<component>
	 					<name>disk</name>
	 					<class>simulator.unit.DiskWithScrubbing</class>
	 					<eventGenerator>
	 						<name>failureGenerator</name>
	 						<class>simulator.failure.WeibullGenerator</class>
	 						<gamma>0.0</gamma>
	 						<lamda>461386.0</lamda>
	 						<beta>1.12</beta>
	 					</eventGenerator>
	 					<eventGenerator>
	 						<name>recoveryGenerator</name>
	 						<class>simulator.failure.WeibullGenerator</class>
							<freq>DISK_RECOVERY_RATE</freq>
	 						<gamma>0.0</gamma>
	 						<lamda>DISK_RECOVERY_RATE</lamda>
	 						<beta>1</beta>
	 					</eventGenerator>
	 					<eventGenerator>
	 						<name>latentErrorGenerator</name>
	 						<class>simulator.failure.WeibullGenerator</class>
	 						<gamma>0.0</gamma>
	 						<lamda>9259.0</lamda>
	 						<beta>1.0</beta>
	 					</eventGenerator>
	 					<eventGenerator>
	 						<name>scrubGenerator</name>
	 						<class>simulator.failure.WeibullGenerator</class>
	 						<freq>LATENT_RECOVERY_RATE</freq>
	 					</eventGenerator>
	 			</component>
	 		</component>
		</component>
	</component>
</root>
